/* @import 'modern-normalize'; */
@import url('https://fonts.googleapis.com/css?family=Raleway&display=swap');
@import './variables.css';

:root {
  --vw: calc(100vw / 750);
  font-size: calc(16 * var(--vw));
}

:root:root {
  --vw: calc(100vw / 750);
  font-size: calc(16 * var(--vw));
}

/* @media screen and (max-width: 320px) {
  :root {
    --vw: calc(100vw/750);
    font-size: calc(14 * var(--vw));
  }
}

@media screen and (min-width: 540px) {
  :root {
    --vw: calc(540px / 750);
  }
} */